<li class="dashboard"><a href="/dashboard"><i class="fa fa-list-alt"></i> Dashboard</a></li>
<li class="schedule"><a href="/schedule"><i class="fa fa-calendar-o"></i> My Schedule</a></li>
<li class="history"><a href="/history"><i class="fa fa-tasks"></i> History</a></li>
<li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>