<div class="row dashboard-page">
  <div class="small-12 medium-9 large-9 small-centered columns">

    <!-- Show All schedules -->
    <section class="scheduled-sessions">
    
    <% @today.each do |data| %>
      <div class="each">
        <figure style="background-image: url('<%= data.picture %>')"></figure>
        <div class="details">
          <span class="name"><%= data.name %></span>
          <span class="timeago"><%= time_ago_in_words(data.created_at) %> ago</span>
          <span class="status"><%= data.status %></span>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>

    </section>

  </div>
</div>