<div class="index-page">
  <div class="cover">
    <div class="middle">
      <h2>WashAlert</h2>
      <p>schedule laundry sessions</p>
      <a class="button alert round expand"><i class="fa fa-google-plus"></i> Login with Google</a>
    </div>
  </div>
</div>