<div class="row schedule-page">
  <div class="small-12 medium-9 large-9 small-centered columns">

    <div class="panel radius text-center">
      <p class="subheader">You have not scheduled any laundry session today</p>
    </div>

    <div class="panel callout radius text-center">
      <p>Please wait for <span class="label secondary">10 minutes</span> to use the laundry machine</p>
      <a href="" class="button alert radius small"><i class="fa fa-times"></i> cancel my session</a>
    </div>

    <div class="panel callout radius text-center">
      <p>You can now use the laundry machine, 
         please press the button below when you are done 
      </p>
      <a href="" class="button success radius small"><i class="fa fa-check-circle"></i> am done</a>
    </div>
    
  </div>
</div>