<div class="row schedule-page">
  <div class="small-12 medium-9 large-9 small-centered columns">

  <% if @has_scheduled && !@schedule_is_active %>
    <div class="panel callout radius text-center">
      <p>Please wait for a bit the laundry machine is still in use</p>
      <a href="" class="button alert radius small"><i class="fa fa-times"></i> cancel my session</a>
    </div>
  <% elsif @has_scheduled && @schedule_is_active %>
    <div class="panel callout radius text-center">
      <p>You are now using the laundry machine, 
         please press the button below when you are done 
      </p>
      <a href="" class="button success radius small"><i class="fa fa-check-circle"></i> am done</a>
    </div>
  <% else %>
    <div class="panel radius text-center">
      <p class="subheader">You have not scheduled any laundry session today</p>
    </div>
  <% end %>

  </div>
</div>