<div class="row schedule-page">
  <div class="small-12 medium-9 large-9 small-centered columns">

    <% if @has_scheduled && !@schedule_is_active %>

    <div id="cancel-session" class="panel callout radius text-center">
      <p>Please wait for a bit the laundry machine is still in use</p>
      <a id="cancel-btn" href="<%= @host %>" data-sid="<%= @todays_schedule[0].id %>" class="button alert radius small"><i class="fa fa-times"></i> cancel my session</a>
    </div>

    <div id="session-canceled" class="panel radius text-center">
    <i class="fa fa-user-times fa-3x"></i>
    <p>Your session has been canceled</p>
  </div>

    <% elsif @has_scheduled && @schedule_is_active %>

    <div id="session-active" class="panel callout radius text-center">
      <p>You are now using the laundry machine, please press the button below when you are done </p>
     <a id="am-done-btn" href="<%= @host %>" data-sid="<%= @todays_schedule[0].id %>" class="button success radius small"><i class="fa fa-check-circle"></i> am done</a>
   </div>

   <div id="session-done" class="panel callout radius text-center">
    <i class="fa fa-thumbs-up fa-3x"></i>
    <p>Thank you for notifying that you are done, the next person after you will be notified immediately.</p>
  </div>

  <% else %>

  <div class="panel radius text-center">
    <p class="subheader">You have not scheduled any laundry session today</p>
  </div>

  <% end %>

</div>
</div>